body{
    font-family: sans-serif;
}

body h1{
    font-size: 50px;
    padding: auto;
    text-align: center;

}

body h2{
    text-align: center;
    margin: auto;
    font-weight: 100;
    color: rgb(135, 135, 135);
    width: 800px;
    }
body p{
    text-align: center;
    width: 800px;
    margin: auto;
    font-weight: 600;
    padding-top: 20px;
}

body p{
    box-shadow: 0px 2px 0px black;
    padding-bottom: 20px;
}
body h3{
    width: 800px;
    margin: auto;
    padding-top: 30px;
}
body h4{
    width: 800px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
body h4 p1{
    font-weight: 300;
    padding-top: 10px;
}
body h5{
    font-weight: bold;
}
body h4 p2{
    font-weight: 300;
    padding: 10px 10px;
    
}
body h4 p3{
    font-weight: 300;
    padding: 10px 10px 10px 10px;
}
BODY h4 P4{
    font-weight: 300;
}
